html, body, #map-canvas {
height : 100%;
margin : 0;
padding : 0;
}
#panel {
position : absolute;
bottom : 5px;
left : 50%;
margin-left : -180px;
z-index : 5;
background-color : #fff;
padding : 5px;
border : #999 solid 1px;
}
#status {
background-color : #ccc;
margin : 1em;
padding : 0.2em;
width : 300px;
border : black solid medium;
}
#myfieldset {
background-color : #ccc;
margin : 1em;
padding : 0.2em;
width : 300px;
border : black solid medium;
}
#mydata {
float : left;
}
.center {
margin-left : auto;
margin-right : auto;
width : 70%;
}